.strike {
    text-decoration: line-through;
}
.large {
    font-size: 30px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.no-number:after {
    visibility: hidden;
}
.slide:after {
    background-image: url(pictures/ribbon.svg);
}
.slide#cover:after {
    visibility: hidden;
}
.slide h2 {
    color: #2a3546;
}